/* Background */

body {
	background: url("../img/streetfighterbackground.gif");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.title{
    position: relative;
    z-index: 10;
    margin-top: 20px;
    transform: rotateX(21deg);
    margin-bottom: 40px;
    color: #fff;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -4px;
    text-align: center;
    text-shadow: 2px 1px 0px #d2d2d2, 4px 2px 0px #4f3256, 3px 1px 6px #000000;
}

/* Sprite images animation */

#sprite-image{
    height: 145px;
    width: 110px;
    background: url("../img/pngwing.com.png") 0px 0px;
}

#sprite-image2{
    height: 80px;
    width: 70px;
    background: url(../img/PngItem_198416.png) 0px 0px;
    position: absolute;
}

#sprite-container, #sprite-container2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 15%;
}

.mainContainer{
    display: flex;
}

#attack, #attack2{
    position: absolute;
    top: 232px;
}



/* Animation punch vers la gauche */

.slideOutLeft {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    
    @-webkit-keyframes slideOutLeft {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        50%{
            -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    
    @keyframes slideOutLeft {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        50%{
            -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    } 


/* Animatation punch vers la droite */
.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideOutRight {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    50%{
        -webkit-transform: translateX(150%);
        transform: translateX(150%);
    }
    100% {
    visibility: hidden;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideOutRight {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
    visibility: hidden;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 